:root{
    --btn-color: #e58f00;
    --about-sec: #1d1d23;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
    text-transform: capitalize;
    text-decoration: none;
}

html{
    font-size: 65%;
    scroll-behavior: smooth;
}

.header{
    padding: 1rem 7%;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: #1d1d23;  
}

.logo img{
    width: 60px;
}

.navbar a{
    color: white;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar a:hover{
    color: var(--btn-color);
}

.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}

.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
   border: 1px solid orange;
   border-radius: 10px;
    font-size: 10px;
    transition: 0.3s;
    display: inline-block;
}

.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* design for home section */

.home{
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem 7%;
    background: url('images/real.jpg');
    min-height: 100vh;
    /* min-height: 105%; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 100px;
}

.home-inner-content{
    flex: 1 1 45rem;
}

.home-image img{
    width: 80%;
}

.home-text-content{
    padding: 0 7rem;
}

.home-text-content h1{
    font-size: 45px;
    color: #e58f00;
}

.home-text-content p{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.7rem;
}

.home-text-content a{
    color: white;
    padding: 0.6rem 1.5rem;
   border: 1px solid orange;
   border-radius: 10px;
    font-size: 10px;
    transition: 0.3s;
    display: inline-block;
}

.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}



/* the about design */

.about{
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem 7%;
    background: var(--about-sec);
    z-index: 1;
}

.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about-content{
    flex: 1 1 45rem;
}

.about-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.about-content .about-inner-content img{
    width: 80%;
    margin-left: 90px;
}

.about-text-content{
    padding: 0 4rem;
}

.about-text-content h1{
    color: #e58f00;
    font-size: 40px;

}

.about-text-content p{
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}


/* quality design */

.quality{
    width: 100%;
    /* position: relative;
    top: 0;
    left: 0; */
    padding: 4rem 7%;
    background-image: linear-gradient(60.36deg, white 52.45%, var(--btn-color) 52.45%);
}


.main-quality{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.inner-quality{
    flex: 1 1 45rem;
}

.quality-content{
    padding: 0 3rem;
}

.quality-content h3{
    color: var(--btn-color);
    font-size: 40px;
    margin-bottom: 15px;
    
}

.quality-content p{
    color: var(--about-sec);
    font-size: 1.3rem;
    line-height: 30px;
    max-inline-size: 300px;
    word-wrap: break-word;
}

.qulity-image{
    width: 100%;
}

/* .quality-image img{

} */


/* gallery design */

.gallery{
    padding: 4rem 7%;
    background: var(--about-sec);
}

.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.inner-gallery{
    flex: 1 1 300px;
}

.inner-gallery .gallery-image img{
    width: 100%;
}

.inner-gallery .gallery-image:hover img{
    transform: perspective(1000px) rotateX(-4.80deg) rotateY(-10.23deg) scale3d(1.05,1.05,1.05);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/* the food design */
.enjoy-our-food{
    padding: 2rem 7%;
    background: url(images/back3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-main-container{
    width: 40%;
    border: 4px solid white;
    padding: 2rem;
}

.food-main-container h1{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem 0;
}

.food-main-container p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    line-height: 30px;
}

/* menu design */
.our-menu-food{
    padding: 2rem 7%;
    background-color: var(--about-sec);
}

.our-menu-food h1{
    color: var(--btn-color);
    font-size: 45px;
    text-align: center;
    padding: 0.5rem 0;
}

.main-menu-food{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inner-menu-food{
    flex: 1 1 300px;
}

.menu-food-content{
    width: 100%;
}

.menu-food-content img{
    width: 90%;
}

.menu-food-text{
    padding: 2rem 2rem;
}

.menu-food-text h2{
    color: var(--btn-color);
    font-size: 30px;
}

.menu-food-text p{
    color: white;
    font-size: 18px;
    margin: 2rem 0;
}

.menu-food-text p span{
    color: #e58f00;
}












@media (max-width:767px){
    .header{
        padding: 2rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 100%;
        background-color: var(--btn-color);
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    .navbar a{
        display: block;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }

    /* home design */

    .home-text-content{
        padding: 0  1.5rem;
    }
    .main-home{
        padding: 2rem 0;
    }
    .home{
        padding-top: 100px;
    }
    .about-content .about-inner-content img{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .quality-content{
        padding: 1rem;
    }
    .quality-content h3{
        color: var(--about-sec);
    }
    .food-main-container{
        width: 80%;
        border: 4px solid white;
        padding: 1rem;
    }
}